.popup {
  display: none;
  width: 100%;
  position: fixed;
  align-items: center;
  padding-top: 164px;
  min-height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
  flex-direction: column;
}

@media screen and (max-width: 702px) {
  .popup{
    padding-top: 91px;
  }
}