.profile__subtitle {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.2;
    color: #FFFFFF;
    margin: 0;
}

@media screen and (max-width: 702px) {
    .profile__subtitle{
        font-size: 14px;
        line-height: 1.2;
        text-align: center;
    }
}